head {
    font-family: 'xx-small';
    quotes: 'xx-small' '.';
}
@media (min-width: 200px) {
    head {
        font-family: 'small';
        quotes: 'small' '.';
    }
}
@media (min-width: 400px) {
    head {
        font-family: 'medium';
        quotes: 'medium' '.';
    }
}
@media (min-width: 800px) {
    head {
        font-family: 'large';
        quotes: 'large' '.';
    }
}
